@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background-color: rgb(233, 197, 190);
}

.menu {
    background: rgb(101, 182, 207);
    width: 100%;
    height: 110px;
}

.menu-seletor {
    position: relative;
    width: 300px;
    top: calc(110px/2);
    left: 120px;
    text-align: center;
}

.menu-seletor ul a li {
    display: inline-block;
    color: white;
}

.menu-seletor ul a {
    text-decoration: none;
    font-size: 1.2em;
    width: 10px;
    margin-left: -4px;
    padding: 14px;
}

.menu ul a:hover {
    background-color: rgb(37, 165, 204);
    opacity: 0.9;
}

.background {
    text-align: start;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    line-height: 30px;
}

.background h3 {
    margin-top: 16px;
    color: #fff6f6;
}


.jogo {
    position: relative;
    top: 30px;
    width: 50px;
    margin: auto;
    animation-name: roda;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}